body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-header {
	background: url(./images/bg-about.jpg);
	background-size: cover;
}

img {
	max-width: 100%;
}

.events-carousel .slick-list {
    padding-top: 20px;
}

.game-thumbnail {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.0639719);
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.events-carousel .slick-slider {
	overflow-x: hidden;
}

.site-footer {
	margin-top: -55px;
}

@media screen and (max-width: 768px) {
.small-menu .nav {
	display: block;
}
#about {
	padding-top: 68px;
}
	
.medium-icon {
	width: 32px;
	height: 32px;
}

.site-footer .row > div:nth-child(2) {
	order: 3;
}

.site-footer .row > div:nth-child(4) {
	order: 4;
}
}